{% extends 'base.html' %}
{% block content %}
    <h1>Informasii o sotrudnike</h1>
    <ul>
        <ol>Login: {{ worker.user.username }}</ol>
        <ol>Name: {{ worker.name }}</ol>
        <ol>Spesialisation: {{ worker.specialisation }}</ol>
        <ol>Expected salary : {{ worker.expectated_salary }}</ol>
        <ol>Is looking for a job: {{ worker.is_searching }}</ol>
    </ul>

    <h2>Searched vacancies</h2>
    {% for v in worker.vacancy_set.all %}
        <div>{{ v.title}} </div>
    {% endfor %}

{% endblock %}
