<!doctype html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--- Bootstrap Links --->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'my_style.css' %}">
    <title>
        {% block my_title %}
            Handhunter
        {% endblock %}
    </title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workers">Candidates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_company">Add Company</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Vacancies</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/vacancies">Vacancy List</a></li>
                <li><a class="dropdown-item" href="/add-vacancy">Add Vacancy</a></li>
                <li><a class="dropdown-item" href="/add-vacancy-df">Add Vacancy DJ FORM</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resume-list">Resumes</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'my-resume' %}">My Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-resume' %}">Add Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign-out' %}">Sign out</a>
                </li>
                Hello, {{ request.user.username }}!
             {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'reg' %}">Registration</a>Please sign in
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign-in' %}">Sign in</a>
                </li>
             {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <div>
        <span>
            <form method="GET" action="/search">
                <input
                        type="text"
                        placeholder="Text here",
                        name="keyword">
                <button class="btn btn-warning">Search</button>
            </form>
        </span>
    </div>
    <hr>

        {% block custom_container %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <hr>
    <footer>
        Osh City, 0755 057501
    </footer>
</body>
</html>