<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block my_title %}
            Handhunter
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/vacancies">Vacancy</a>
        <a href="/add-vacancy">Add Vacancy</a>
        <a href="/add-vacancy-df">Add Vacancy (dj form)</a>
        <a href="/workers">Workers</a>
        <a href="/resume-list">Resumes</a>

        {% if request.user.is_authenticated %}
            <a href="{% url 'my-resume' %}">My Resume</a>
            <a href="{% url 'add-resume' %}">Add Resume</a>

            Hello, {{ request.user.username }}!
        {% else %}
        <a href="{% url 'reg' %}">Registration</a>
            Please sign in
        {% endif %}

    </nav>
    <br>
    <div>
        <span>
            <form method="GET" action="/search">
                <input
                        type="text"
                        placeholder="Text here",
                        name="keyword">
                <button>Search</button>
            </form>
        </span>
    </div>
    <hr>
    {% block content %}

    {% endblock %}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <hr>
    <footer>
        Osh City, 0755 057501
    </footer>
</body>
</html>