{% extends 'base.html' %}
{% load static %}
{% block custom_container %}
    <div class="homepage">
        <h1>Search for jobs and Hiring Companies</h1>

        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, iste.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem
            fugit mollitia odio, optio soluta sunt temporibus. Animi, dolores enim exercitationem
            facilis in iure non placeat qui rerum saepe voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusantium consequatur
            cupiditate eligendi eum excepturi facere fugit illum ipsum iusto laboriosam magni minima
            minus obcaecati pariatur perferendis porro similique soluta!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, iste.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem
            fugit mollitia odio, optio soluta sunt temporibus. Animi, dolores enim exercitationem
            facilis in iure non placeat qui rerum saepe voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusantium consequatur
            cupiditate eligendi eum excepturi facere fugit illum ipsum iusto laboriosam magni minima
            minus obcaecati pariatur perferendis porro similique soluta!


        </div>
    </div>
{% endblock%}
